.proxy {
  display: flex;
  position: absolute;
  top: 20px;
  left: 140px;
}

.proxy-button {
  width: 230px;
  height: 40px;
}

ul {
  list-style-type: none;
}

.proxy__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 7px;
  height: 50px;
  margin-bottom: 15px;
  width: 500px;
}

.proxy__title {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
}

.proxy__list {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.proxy__input {
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding-left: 25px;
  border: none;
  width: 500px;
  background-color: rgb(215, 231, 231);
}

.proxy__inputBlock {
  display: flex;
  flex-direction: column;
}
