@import './button.css';
@import './form.css';
@import './navigation.css';
@import './normalize.css';
@import './sidebar.css';
@import './networkSecurity.css';
@import './home.css';
@import './settings.css';
@import './proxy.css';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.mainBlock {
  height: 100%;
}

.content {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}
