@import "./button.css";
@import "./form.css";
@import "./navigation.css";
@import "./normalize.css";
@import "./sidebar.css";
@import "./networkSecurity.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.mainBlock {
  height: 100%;
}

.content {
  height: calc(100% - 104px);
  position: relative;
}